node_modules
public/
.DS_Store
### Terraform ###
terraform/.terraform/*

### Vim ###
*.sw?

### Project ###
logs
/RUNNING_PID
target
build-products
.cache-main
.cache-tests

### Idea ###
.idea
.idea_modules
*.iml

### Eclipse ###
.classpath
.project
.settings
bin/
tmp/
*.tmp
*.bak
*.swp

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Plugin-specific files: ###

# IntelliJ
/out/

# sbt-idea plugin
.idea_modules/

### Bash ###
*.sh
!dorelease.sh
